[submodule "fulfillment-service"]
	path = fulfillment-service
	url = https://github.com/osac-project/fulfillment-service.git
	branch = main
[submodule "osac-operator"]
	path = osac-operator
	url = https://github.com/osac-project/osac-operator.git
	branch = main
[submodule "osac-aap"]
	path = osac-aap
	url = https://github.com/osac-project/osac-aap
	branch = main
[submodule "osac-installer"]
	path = osac-installer
	url = https://github.com/osac-project/osac-installer.git
	branch = main
[submodule "osac-test-infra"]
	path = osac-test-infra
	url = https://github.com/osac-project/osac-test-infra.git
	branch = main
[submodule "enhancement-proposals"]
	path = enhancement-proposals
	url = https://github.com/osac-project/enhancement-proposals
	branch = main
